/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Theme */
.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.dark-theme .mat-icon-button {
  color: #ffffff;
}
.dark-theme .mat-mdc-table {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.dark-theme .mat-mdc-header-cell
{
  color: #000000;
  transition: color 0.3s ease;
}
.dark-theme .mat-mdc-cell
{
  color: #000000;
  transition: color 0.3s ease; 
}
