.table-container {
  display: flex;
  width: 100%;
}

.fixed-header {
  background: white;
  z-index: 1;
}

.fixed-header table {
  border-collapse: collapse;
}

.scrollable-table {
  overflow-x: auto;
  display: block;
}

.scrollable-table table {
  border-collapse: collapse;
  min-width: 800px;
}

th,
td {
  padding: 16px;
  text-align: left;
  border: 1px solid #ddd;
  height: 160px;
}
.filter-add {
  margin-bottom: 16px;
}

.filter-input {
  width: 100%;
  max-width: 50%;
}
@media (max-width: 600px) {
  .scrollable-table {
    overflow-x: auto;
    vertical-align: middle;
  }

  /*column i want hidden */
  th[mat-header-cell="delete"],
  th[mat-header-cell="edit"],
  td[mat-cell*="delete"],
  td[mat-cell*="edit"] {
    display: none;
  }
}
